<!--The content below is only a placeholder and can be replaced.-->
<app-navbar>Loading main bar</app-navbar>
<div class="container mt-2 mx-auto">
     <div class="col-md-12 ">
      <form class="form-inline justify-content-center">
        <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-center" type="submit">Search</button>
      </form>
       <div class="row mt-2">
         <div class="col-md-12 ">
           <app-profile class="text-center"></app-profile>
         </div>
       </div>
    </div>
  </div>

